* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenitore-celle {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    padding-top: 100px;
}

.cella {
    background-color: green;
    border: 1px solid greenyellow;
}

.cella.facile {
    width: 10%;
    height: 10%;
}

.cella.medio {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.cella.difficile {
    width: calc(100% / 7);
    height: calc(100% / 7);
}